name: test
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  short:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: make test

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: make cover.out
      - uses: vladopajic/go-test-coverage@v2
        with:
          config: .testcoverage.yml

  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - uses: foundry-rs/foundry-toolchain@v1
      - run: make e2e

  bindings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Generate Bindings
        run: make bindings
      - name: Check for uncommitted changes
        run: git diff --exit-code
